.container_principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: auto;
    margin-top: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(95, 41, 231);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 4px 5px 5px rgba(58, 36, 36, 0.61);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    background-color: rgb(47, 30, 90);
    color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;

    & div {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        width: 100%;
        padding: 20px;
        text-align: left;

        gap: 10px;

        & span {
            font-weight: 800;
        }

        & img {
            width: 30%;
            
            border-radius: 10px;
        }
    }
}