* {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  background: linear-gradient(to right, #2675ec, #6028bb,#1b297a);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin: auto;
}

h1, h2{
  color: #fff;
}

input{
  padding: 10px 20px;
  border-radius: 15px;
  width:100%;
  font-size: 16px;
}

button{
  padding: 10px 40px;
  border-radius: 20px;
  font-weight: 700;
  color: #140001;
  cursor: pointer;
  font-size: 18px;
  
}
a{
  text-decoration: none;
  color: #2445ff;
}
button, input{
  box-shadow: 4px 5px 3px rgba(131, 79, 79, 0.274);
  transition: all ease 0.1s;
}
button:hover{
  transform: scale(0.9, 0.90);

}